/*index.html*/
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .yuyu-main {
        width: 100%;
    }

    .text-area {
        margin: 48px 0;
        padding: 0px 95px;
    }

    .text-area p {
        font-size: 12px;
    }

/* title */
    .yuyu-title {
        text-align: center;
    }

/* nav */
    .yuyu-nav {
        background-color: #eee;
    }
    .yuyu-nav-ul {
        display: flex;
        justify-content: space-around;
        padding: 16px 0;
    }
    .yuyu-nav-li a {
        color: #aaa;
        font-size: 14px;
    }

/* main img */
    .mainimg-container {
        width: 100%;
    }
    .main-img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
/* footer */
    .yuyu-footer {
        background-color: #444;
        height: 240px;
        position: absolute;
        width: 100%;
    }
    .yuyu-footer p {
        font-size: 12px;
        color: #eee;
        text-align: center;
        padding-top: 14%;
    }